// @use "sass.math";

.geom {
  &-wrapper--line {
    transform: translate(0%, 75%);
  }
  
  &-line {
    position: absolute;
    width: 100%;
    height: 100%;

    border-top: $geom-border-width solid $geom-color;

    transform-origin: top;
    animation: infinite-rotate 15s linear infinite;
  }
}