.geom {
  &-wrapper--square {
    transform: translate(-10%, 25%);
  }
  
  &-square {
    position: absolute;
    width: 100%;
    height: 100%;
    
    border: $geom-border-width solid $geom-color;
    animation: infinite-rotate 15s linear infinite;
  }
}

